<template>
    <div class="container mt-2">
        <p>У вас накопилось {{tasks.length}} дэдлайнов!</p>
        <img v-if="tasks.length == 0" class="rounded" src="../assets/DL-0.png" height="250px" width="250px">
        <img v-if="tasks.length == 1" class="rounded" src="../assets/DL-1.png" height="250px" width="250px">
        <img v-if="tasks.length == 2" class="rounded" src="../assets/DL-2.png" height="250px" width="250px">
        <img v-if="tasks.length == 3" class="rounded" src="../assets/DL-3.png" height="250px" width="250px">
        <img v-if="tasks.length == 4" class="rounded" src="../assets/DL-4.png" height="250px" width="250px">
        <img v-if="tasks.length == 5" class="rounded" src="../assets/DL-5.png" height="250px" width="250px">
        <img v-if="tasks.length == 6" class="rounded" src="../assets/DL-6.png" height="250px" width="250px">
        <img v-if="tasks.length > 6" class="rounded" src="../assets/DL-7.png" height="250px" width="250px">
        <blockquote class="blockquote blockquote-custom bg-white p-5 shadow rounded mt-5">
            <p class="mb-0 mt-2 font-italic">{{ randomQuote.text }}</p>
            <footer class="blockquote-footer pt-4 mt-4 border-top">
                {{ randomQuote.author }}
            </footer>
        </blockquote>
    </div>
</template>

<script>
    const quotes = [
        {
            author: 'Пауло Коэльо',
            text: 'Дойдя до конца, люди смеются над страхами, мучившими их вначале...'
        },
        {
            author: 'Оноре де Бальзак',
            text: 'Чтобы дойти до цели, надо идти...'
        },
        {
            author: 'Джейсон Стетхем',
            text: 'В любом процессе важна не скорость, а удовольствие'
        },
        {
            author: 'Лу Хольц',
            text: 'Не ноша тянет вас вниз, а то, как вы ее несете'
        },
        {
            author: 'Уинстон Черчилль',
            text: 'Успех — это способность терпеть поражение за поражением без потери энтузиазма'
        }
    ];

    const randomQuote = quotes[Math.floor(Math.random() * quotes.length)];

    export default {
        name: "Summary",
        data: () => {
            return {
                randomQuote: randomQuote,
                tasks: [1, 2, 3]
            }
        }
    }
</script>

<style scoped>

</style>